ansible==13.6.0
# Needed for community.crypto module
cryptography==48.0.0
# Needed for jinja2 json_query templating
jmespath==1.1.0
# Needed for ansible.utils.ipaddr
netaddr==1.3.0
# Needed for community.routeros collection
librouteros==4.0.1
# ansible-galaxy
distlib==0.4.0
# CHANGELOG generation (used by pre-push hook)
git-changelog==2.9.4

